body{
    
    background-color: darkred;
   margin:5px;
   align-items: center;
   background-image: url('https://drive.google.com/uc?id=1x6s1KtJH5EZNTyLdBxlqp3PhPhDWoJ61');
   background-size: cover;
   background-attachment:fixed;
   color: white;
   font-family: 'Playfair Display', serif;
  

}


section{
   display: grid;
   grid-template-columns: 1fr 2fr;
   grid-template-rows: auto;
   text-align: center;
   margin-bottom: auto;
}
h3 {
    background-color: black;
    display:inline;
}
div{
    margin-top: 75px;
    margin-bottom: 0px;
}



button#double,button#stay,button#hit{
    display:none;
    margin: 9px;
    /*position:center;
    border: red 2px;*/
}

button{
    display:flex;
    flex-wrap: wrap;
   justify-content: center;
    text-align: center;
    margin: auto;
    border: 10px solid red;
}
div#playingCards,div#dealerCards{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;   
}


img{
    width: 15%
}

