
:root{
   
    display: flex;
    justify-content: center;
    align-items:center;
}

body{
    
    background-color: black;
   margin: auto 0;
   align-items: center;
   background-image: url('https://drive.google.com/uc?id=1x6s1KtJH5EZNTyLdBxlqp3PhPhDWoJ61');
   background-size: 100%;
   overflow: hidden;
  background-repeat:no-repeat;
   background-attachment:fixed;
   color: white;
   font-family: 'Playfair Display', serif;
  

}

section{
   display: grid;
   grid-template-columns: 1fr 2fr;
   grid-template-rows: auto;
   text-align: center;
   margin-bottom: auto;
}

h3 {
    background-color: black;
    display:inline;
    color:green;
    border: 10px solid gold;
}
div{
    margin-top: 35px;
    margin-bottom: 0px;
    display:flex;
    justify-content:center;
   
}

div#move{
display:flex;
justify-content:center;
align-items:center


}

button#double,button#stay,button#hit{
    display:none;
    margin: 20px;
    margin-top:75px;
    align-items:center
  
}

button{
    flex-wrap: wrap;
    flex-direction:row;
   justify-content:center;
   align-items: center;
    border: 10px solid red;
    margin-top:75px;
    
}
div#playingCards,div#dealerCards{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;   
}


img{
    width: 15%
}

