body{
    
    background-color: darkred;
   margin:5px;
   
}

section{
   display: grid;
   grid-template-columns: 1fr 2fr;
   padding: 50px;
   text-align: center;
 
}

button#double,button#stay,button#split, button#hit{
    display:none;
    margin: 10px;
}

div#playingCards{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

li.hide{
   
   display:none;
} 
li{
    list-style: none;
}

.dealerCards{
    display:grid;
    grid-template-columns:repeat(4,25%)
}